body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navigation */
nav ul li {
  width: 145px;
  list-style-type: none;
  float: left;

}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}