body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navigation */
nav {
  background: rgba(0, 0, 0, 0.8);
}

nav ul {
  width: 1020px;
  margin: 0 auto;
}

nav ul li {
  width: 145px;
  list-style-type: none;
  float: left;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
border-bottom: 2px solid #fbf0eb;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* MAIN */
.first-photo {
  background: black;
}
.first-photo img{
height: 500px;
display: block;
margin: 0 auto;
position: relative;
top: 100px;
}

main h2 {
  text-align: center;
  margin-top: 120px;
}

main h2 span {
  font-size: 60px;
}
.second-photo img {
  width: 400px;
  display: block;
  margin: 0 auto;
  transform: rotate(-15deg);
}

.second-photo-text h2 {
  font-size: 60px;
  margin-top: 0;
}